.messages {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;

  background-color: #efefef;
}

.sendMessageContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  padding: 20px;

  box-sizing: border-box;

  background-color: #fafafa;
}

.textarea {
  height: 36px;

  flex-grow: 1;

  padding: 10px;

  box-sizing: border-box;

  border: 1px solid #efefef;
  border-right: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.sendMessageButton {
  height: 36px;

  padding: 10px 30px;

  box-sizing: border-box;

  color: white;
  background-color: #4d76a3;
  border: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;

  &:hover {
    cursor: pointer;
    background-color: #375e88;
  }
}
