body {
  margin: 0;
  padding: 0;
}

.app {
  display: grid;
  grid-template-columns: 1fr 8fr;
  grid-template-areas:
    'h h'
    'mn c';
}

.app_header {
  grid-area: h;
}

.app_main_nav {
  grid-area: mn;

  height: calc(100vh - 70px);

  box-sizing: border-box;
}

.app_content {
  grid-area: c;

  height: calc(100vh - 70px);

  box-sizing: border-box;
}
